ul {
    display: flex;
    list-style: none
    }
    
    li {
      margin-right: 15px;
    }
    
    li:hover a {
    background:rgb(255, 231, 47);
    justify-content: space-between;
    border-radius: 0px;
    
    }
    
    #home:hover {
    /* this changes the font color */
    color: rgb(255, 195, 90);
    /* this changes makes the font thicker or thinner */
    font-weight: bold;
    }
    
    .nav-item:hover a {
        /* this changes the font color */
        color: white;
        /* this changes makes the font thicker or thinner */
        font-weight: bold;
    }
    
    .dropdown-menu {
        background-color: rgb(255, 231, 47)!important;
        border-radius: 0px;
        --bs-dropdown-border-width: unset;
    }
    
    .dropdown:hover .dropdown-menu {
        display:block;
        
    }
    
    
    .dropdown-item:hover  {
        background: rgb(255, 195, 90);
    }
    
    .navbar{
        padding:0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;    
    }
    
    
    .bg-primary {
        background-color: rgb(255, 231, 47)!important;
        
    }
    
    .navbar-brand {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5px;
    }
    
    .mx-auto {
        margin-right: auto!important;
        margin-left: auto!important;
        padding-left: 11rem;
    }
    
    .navbar-text{
        display: grid;
        place-items:center;
        text-align: center;
        font-size: 1rem;
    }
    .nav-item {
        padding: 0% 0 0 0;
    } 

    body {
        background-color: black;
        color:white;
    
        }